body {
	font-size: 14px;
}

header {
	background: #F7F7F7;
	overflow: hidden;
	padding: 0 20px;
	border-radius: 0 0 10px 10px;
	margin-bottom: 20px;
	border: 1px solid #F0F0F0;

	h1 {
		margin-bottom: 20px;
	}
}

.sidebar {
	background: #F7F7F7;
	border: 1px solid #F0F0F0;
	padding: 20px 20px;

	.btn {
		width: 100%;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.items {
	font-size: 0;

	.item {
		font-size: 14px;
	}
}

.item {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;

	.title {
		margin-bottom: 5px;
	}

	.price {
		font-weight: bold;
		font-size: 18px;
	}
}

.preloader {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}

.ufi-pagination {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	border-top: 1px solid #F0F0F0;
	text-align: center;
	padding: 10px 0;

	&_page,
	&_separator{
		display: inline-block;
		vertical-align: top;
		padding: 5px 10px;
		border: 1px solid #cccccc;
		margin-right: -1px;

		&._active {
			background: #cccccc;
		}
	}
}